@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600');   /* Thin, Extra-Light, Light*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');

#root {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#search-table-wrapper {
  width: 100%;
  /*display: inline-block;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#primary-header {
  /*position: fixed;*/
  width: 100%;
  z-index: 10000;
}

#content {
  position: relative;
  /*top: 5vw;*/
}

/*button.redux-store {
  background-color: blue;
  display: inline-block;
  z-index: 1000;
}*/
