@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600');   /* Thin, Extra-Light, Light*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400|Megrim');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
  /*https://material.io/icons/#ic_search*/

#root {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Exo', sans-serif;*/
  /*font-family: 'Work Sans', sans-serif;*/
  font-weight: 200;
}

/*div#content.row {
  padding: 0;
  margin: 0;
  background-color: cyan;
}*/

.f1 {
  font-family: 'Raleway', sans-serif;
}
.f2 {
  font-family: 'Exo', sans-serif;
  font-weight: 200;
}
.f3 {
  font-family: 'Megrim', cursive;
}


/* Icons and Search button as an Icon*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-btn {
  vertical-align: top;
  display: inline-block;
  line-height: 1;
  top: -1px;
  height: 39px;
  padding: 7px;
  margin: 0;
  background-color: white;
  color: lightgray;
  box-shadow: 0 1px 1px 0 #C7C7C7 inset;
	background: none repeat scroll 0 0 #E9E9E9;
}

.icon-btn:hover {
  background-color: lightgray;
  color: gray;
}

.search-wrapper {
  display: inline-block;
}

.search-wrapper input {
  width: 85%;
  display: inline-block;
}
/* Getting rid of annoying blue glow on button pushes*/
button.button:focus {
  color: black;
  background-color: rgb(227, 218, 172);
  outline-color: rgba(227, 218, 172, 0.3);
}
button.button:active {
  color: black;
  background-color: rgb(227, 218, 172);
  outline-color: rgba(214, 200, 125, 0.3);
}
/* And making the buttons prettier */
button.button {
  background-color: white;
  color: rgb(50, 56, 61);
  /*color: lightgray;*/
  box-shadow: 0 1px 1px 0 #C7C7C7 inset;
	background: none repeat scroll 0 0 #E9E9E9;
}
button.button:hover {
  background-color: rgb(214, 200, 125);
  color: black;
}


/* ------------------------ END FONTS & ICON BUTTON ---------------------------- */


body {
  /*background-color: #e6e6e6;*/
}

#search-table-wrapper {
  width: 100%;
  /*display: inline-block;*/
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/* -------------------------- HEADER -------------------------------- */
.top-bar {
  border-bottom: 25px solid lightgray;
}
.top-bar, .top-bar a {
  background-color: rgb(50, 56, 61);
  color: white;
}

.top-bar li a {
  background-color: rgb(50, 56, 61);
  color: white;
  font-size: 15pt;
  line-height: 1;
}

.top-bar a:hover {
  color: khaki;
}

ul.menu {
  background-color: rgb(50, 56, 61);
  text-align: right;
}


header hr {
  margin: 4px;
  width: 100%;
  color: red;
  max-width: 100%;
}

header h3 {
  word-wrap: break-word;
  padding-top: 5px;
  color: white;
  font-size: 25pt;
  margin: 0;
  line-height: 1;
  /*font-family: 'Kumar One', cursive;*/
  /*font-family: 'Bungee Shade', cursive;*/
  /*font-family: 'Monoton', cursive;*/
  font-family: 'Megrim', cursive;
  /*font-family: 'Codystar', cursive;*/
  /*-webkit-text-stroke: 1px rgb(129, 111, 66);*/
}
/* ------------------------------ END HEADER ---------------------------------- */




/* ---------------------------- RECENT SEARCHES ------------------------------ */

button.button.search-history-btn {
  background-color: white;
  color: rgb(50, 56, 61);
  /*color: lightgray;*/
  box-shadow: 0 1px 1px 0 #C7C7C7 inset;
	background: none repeat scroll 0 0 #E9E9E9;
}

button.button.search-history-btn:hover {
  background-color: rgb(214, 200, 125);
  color: black;
}

button.button.search-history-btn:focus {
  color: black;
  background-color: rgb(227, 218, 172);
  outline-color: rgba(227, 218, 172, 0.3);
}

button.button.search-history-btn:active {
  color: black;
  background-color: rgb(227, 218, 172);
  outline-color: rgba(214, 200, 125, 0.3);
}

.recent-searches-group {
  margin-right: 15px;
}

button.button.clear-history-btn {
  background-color: darkred;
  color: rgb(50, 56, 61);
  /*color: lightgray;*/
  box-shadow: 0 1px 1px 0 #C7C7C7 inset;
	background: none repeat scroll 0 0 #E9E9E9;
}

button.button.clear-history-btn:hover {
  background-color: darkred;
  color: white;
}

button.button.clear-history-btn:focus {
  color: black;
  background-color: rgb(139, 0, 0);
  outline-color: rgba(139, 0, 0, 0.3);
}

/* ------------------------- END RECENT SEARCHES ----------------------------- */



button.button.btn.gender-btn {
  /*background-color: red;*/
  margin: 0;
  float: right;
}

.chart-wrapper {
  clear: both;
}

.results-chart h3 {

}


/*header#primary-header {
  background-color: cyan;
  width: 100%;
  z-index: 10000;
}*/

#content {
  position: relative;
  padding: 2%;
  /*top: 5vw;*/
}

li {
  list-style: none;
}


.comparison-panel svg {
  overflow: visible;
}

/*button.redux-store {
  position: absolute;
  top: 15px;
  right: 15px;
}*/

/*div.public_fixedDataTableCell_main:hover, div.public_fixedDataTableCell_cellContent:hover, div.public_fixedDataTableCell_wrap1:hover, div.public_fixedDataTableCell_wrap2:hover, div.public_fixedDataTableCell_wrap3:hover{
  background-color: red;
  z-index: 1000;
}*/

/*button.redux-store {
  background-color: blue;
  display: inline-block;
  z-index: 1000;
}*/
