@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600');   /* Thin, Extra-Light, Light*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200|Megrim');

#root {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Exo', sans-serif;*/
  /*font-family: 'Work Sans', sans-serif;*/
  font-weight: 200;
}

.f1 {
  font-family: 'Raleway', sans-serif;
}
.f2 {
  font-family: 'Exo', sans-serif;
}
.f3 {
  font-family: 'Megrim', cursive;
}

body {
  /*background-color: #e6e6e6;*/
}

#search-table-wrapper {
  width: 100%;
  /*display: inline-block;*/
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/* -------------------------- HEADER -------------------------------- */
.top-bar, .top-bar a {
  background-color: rgb(50, 56, 61);
  color: white;
}

.top-bar li a {
  background-color: rgb(50, 56, 61);
  color: white;
  font-size: 15pt;
  line-height: 1;
}

.top-bar a:hover {
  color: khaki;
}

ul.menu {
  background-color: rgb(50, 56, 61);
  text-align: right;
}


header hr {
  margin: 4px;
}

header h3 {
  padding-top: 5px;
  color: white;
  font-size: 25pt;
  margin: 0;
  line-height: 1;
  /*font-family: 'Kumar One', cursive;*/
  /*font-family: 'Bungee Shade', cursive;*/
  /*font-family: 'Monoton', cursive;*/
  font-family: 'Megrim', cursive;
  /*font-family: 'Codystar', cursive;*/
  /*-webkit-text-stroke: 1px rgb(129, 111, 66);*/
}
/* -------------------------- END HEADER -------------------------------- */


/*header#primary-header {
  background-color: cyan;
  width: 100%;
  z-index: 10000;
}*/

#content {
  position: relative;
  padding: 2%;
  /*top: 5vw;*/
}

.search-wrapper {

}

li {
  list-style: none;
}

button.clear-history-btn {
  background-color: darkred;
}

.comparison-panel svg {
  overflow: visible;
}

/*button.redux-store {
  position: absolute;
  top: 15px;
  right: 15px;
}*/

/*div.public_fixedDataTableCell_main:hover, div.public_fixedDataTableCell_cellContent:hover, div.public_fixedDataTableCell_wrap1:hover, div.public_fixedDataTableCell_wrap2:hover, div.public_fixedDataTableCell_wrap3:hover{
  background-color: red;
  z-index: 1000;
}*/

/*button.redux-store {
  background-color: blue;
  display: inline-block;
  z-index: 1000;
}*/
