/*comparisons*/

div.comparison-panel {
  /*background-color: cyan;*/
  /*border: 1px solid black;*/
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  margin: 0 2% 2% 2%;
  padding: 15px;
  margin-top: 0;
  width: 29%;
}

div.comparisons-wrapper {
  /*background-color: cyan;*/
  padding: 0% 5% 0% 5%;
  clear: both;
}

.year-slider-wrapper {
  text-align: right;
  float: right;
  margin: 0;
}

.year-slider-wrapper h4 {
  font-size: 35px;
  line-height: 1;
  margin: 0;
}

.comp-title {
  display: inline-block;
}

#typeinp {
  width: 90px;
}

.comparison-panel h5 {
  white-space: nowrap;
  overflow: scroll;
  width: 100%;
  font-size: 22px;
  font-weight: 200;
  float: left;
  bottom: -37px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.comparison-title {
  -ms-overflow-style: none;  /* IE 10+ */
  overflow: -moz-scrollbars-none;  /* Firefox */
}
.comparison-title::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/*.comparison-panel .year h6 {
  position: relative;
  font-size: 15px;
  float: right;
  padding: 0;
}*/

.line-wrapper {
  clear: both;
  padding: 0;
  margin: 0;
  /*margin-bottom: 50px;*/
}

.line-chart-label {
  /*padding: 0;*/

}

/* ----------- Media Queries ----------- */

/*LARGE*/
@media screen and (min-width:900px) {

}
/*MEDUIM*/
@media screen and (max-width:900px) {

}
/*SMALL*/
@media screen and (max-width:650px) {
  div.comparison-panel {
    width: 46%;
  }
}
/*TINY*/
@media screen and (max-width:450px) {
  div.comparison-panel {
    width: 96%;
  }
}
