/*comparisons*/

div.comparison-panel {
  /*background-color: cyan;*/
  /*border: 1px solid black;*/
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  margin: 2%;
  padding: 2%;

  width: 29%;
}

div.comparisons-wrapper {
  /*background-color: cyan;*/
  padding: 0% 5% 0% 5%;
  clear: both;
}

.year-slider-wrapper {
  text-align: right;
  float: right;
  margin: 0;
}

.year-slider-wrapper h4 {
  font-size: 35px;
  line-height: 1;
  margin: 0;
}

.comparison-panel h5 {
  font-size: 25px;
  font-weight: 200;
  float: left;
  padding-bottom: 35px;
}

.comparison-panel h6 {
  font-size: 15px;
  float: right;
  padding-bottom: 35px;
}

.line-wrapper {
  clear: both;
  padding: 0;
  margin: 0;
  /*margin-bottom: 50px;*/
}

.line-chart-label {
  /*padding: 0;*/

}
