


.explore-relationships-btn {
  align-self: center;
}

.explore-btn-wrapper {
  text-align: center;
  padding-top: 50px;
}

.dory-gif {
  position: absolute;
  left: 40%;
  top: 400px;
}

.force-diagram-wrapper svg {
  position: relative;
  /*border: 1px solid black;*/
  margin-bottom: 50px;
  top: -25px;
}

.rel-data-description {
  display: inline-block;
  bottom: -25px;
  margin: 5% 0 0 0;
  font-size: 12px;
  vertical-align: bottom;
  text-align: center;
}

.relationships-diagram {
  text-align: center;
}

.loading-notice {
  height: 75vh;
}


/* ---------------------------- Filter --------------------------------- */

.relationships-diagram .filter-wrapper {
  /*border: 1px solid black;*/
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-bottom: 1%;
}

.relationships-diagram .filter-title {
  margin-bottom: 2vh;
}

#node-search {
  position: relative;
  top: 0;
  padding: 0 5% 0 5%;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(225, 225, 225);
}

.relationships-diagram .search-wrapper {
  padding-top: 2%;
  width: 100%;
}

.relationships-diagram .search-wrapper div {
  vertical-align: top;
}

.relationships-diagram .search-wrapper .node-search-btn {
  /*margin-right: 3%;*/
}

.relationships-diagram .filter-buttons {
  display: inline-block;
}

.relationships-diagram .filter-search {
  display: inline;
  white-space: nowrap;
  margin-left: 3%;
}

/*.relationships-diagram .filter-search div div {*/
.relationships-diagram .node-search-list {
  /*NOTE: there are more styles in data/utils.js .menu*/
  right: 15vw;
  max-height: 50%;
  overflow-x: scroll;
  z-index: 100;
}

.rel-current-search {
  text-align: right;
  padding-bottom: 5px;
}

.rel-search-label {
  display: inline-block;
  vertical-align: middle;
  /*color: red;*/
  line-height: normal;
  margin: 0 1rem 1rem 0;
}

.drug-type-selector {
  vertical-align: top;
  width: 100px;
}

/* ---------------------------- end Filter --------------------------------- */




/* ---------------------------- Tooltip --------------------------------- */
/*div#rel-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}*/

/* NOTE: there is a .tooltip in foundation.css, so also styled by that if just .tooltip is used */
.rel-tooltip {
  position: absolute;
  z-index: 100;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  /*-webkit-border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*border-radius: 10px;*/
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  border: 1px solid rgb(204, 204, 204);
}

.rel-tooltip.hidden {
  display: none;
}

.rel-tooltip p {
  margin: 0;
  font-family: sans-serif;
  /*color: red;*/
  font-size: 16px;
  line-height: 20px;
}

.rel-tooltip .percent-published {
  /*text-shadow: 1px 0px 1px gray;*/
}
/* -------------------------- End Tooltip ----------------------------- */


/* ----------------------------- Table ---------------------------------- */
#search-table-wrapper label {
  text-align: left;
}
/* --------------------------- End Table -------------------------------- */


/* --------------------------Default styling--------------------------------- */
.node {
  stroke: #fff;
  /*stroke-width: 1.5px;*/
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.link {
    stroke: lightgray;
}

/*.relationships-diagram h3 {
    color: #1ABC9C;
    text-align:center;
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}*/

.node text {
  stroke:#333;
  cursos:pointer;
}

.node circle{
  /*stroke:#fff;
  stroke-width:3px;
  fill:#555;*/
}

.force-diagram {
  border: 1px solid black;
}

/* ------------------------------End default------------------------------------ */
