
.explore-relationships-btn {
  align-self: center;
}

.explore-btn-wrapper {
  text-align: center;
  padding-top: 50px;
}

.dory-gif {
  position: absolute;
  left: 40%;
  top: 400px;
}

/* ---------------------------- Tooltip --------------------------------- */
/*div#rel-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}*/

/* NOTE: there is a .tooltip in foundation.css, so also styled by that if just .tooltip is used */
.rel-tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.rel-tooltip.hidden {
  display: none;
}

.rel-tooltip p {
  margin: 0;
  font-family: sans-serif;
  color: red;
  font-size: 16px;
  line-height: 20px;
}
/* -------------------------- End Tooltip ----------------------------- */



/* --------------------------Default styling--------------------------------- */
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}

h3 {
    color: #1ABC9C;
    text-align:center;
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}

.force-diagram {
  border: 1px solid black;
}

/* ------------------------------End default------------------------------------ */
