.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}

h3 {
    color: #1ABC9C;
    text-align:center;
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}



.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}

.force-diagram {
  border: 1px solid black;
}
